<div class="btn-group" dropdown (onShown)="setFocus()">
  <button id="species-dropdown-btn" type="button" class="custom-select text-left" dropdownToggle aria-controls="species-dropdown">
    {{ label }} &nbsp;
  </button>
  <div id="species-dropdown" class="dropdown-menu species-dropdown pb-0" *dropdownMenu role="menu" #dropdownMenu>
    <div class="p-2 pt-0" (click)="$event.stopPropagation()">
      <input class="w-100" type="text" [(ngModel)]="search" (keyup)="filter()">
    </div>
    <ul class="species-dropdown__list">
      <li *ngFor="let element of filteredElements" class="dropdown-item" [ngClass]="{ 'active': element.id === value }" (click)="select(element.id, element.nombre_cientifico)">
        {{ element.nombre_cientifico }}
        <small class="muted-text">
          {{ element.nombre_comun }}
        </small>
      </li>
    </ul>
  </div>
</div>
