@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.tree-info {
  background-color: $color-white;
  height: 100%;
  overflow: auto;
  position: fixed;
  z-index: 10;
}

.tree-info__link {
  font-size: rem(20px);
  min-width: rem(45px);
}
