<div *ngIf="display" class="col-12 col-sm-9 col-md-6 p-4 tree-info">
  <button type="button" class="close" aria-label="Close" (click)="closePanel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h1>
    {{ tree.nombre_cientifico }}
    <br>
    <small>
      {{ tree.nombre_comun }}
    </small>
  </h1>
  <p>
    {{ tree.tipo }}
    <br>
    Familia: {{ tree.familia }}
    <br>
    Origen: {{ tree.origen }}
    <br>
    <span *ngIf="tree.procedencia_exotica">
      Procedencia: {{ tree.procedencia_exotica }}
    </span>
    <span *ngIf="tree.regiones">
      Región de origen: {{ tree.regiones }}
    </span>
    <br>
    <span *ngIf="tree.altura">
      Altura: {{ tree.altura }}m
    </span>
  </p>
  <p>
    <fa-icon [icon]="icons.faMapMarkerAlt"></fa-icon>
    <span *ngIf="tree.espacio_verde">
      Espacio verde: {{ tree.espacio_verde }}
    </span>
    <span *ngIf="!tree.espacio_verde">
      {{ tree.calle }}
      {{ tree.calle_altura === 0 ? "s/n" : tree.calle_altura }}
    </span>
  </p>
  <div class="card border-primary mb-4">
    <div class="card-header bg-primary">
      <h4>
        Fuentes
      </h4>
    </div>
    <div class="card-body">
      <p>
        Dato aportado por
        <strong>
          {{ tree.nombre }}
        </strong>
      </p>
      <p>
        <small>
          {{ tree.fecha_creacion }}
          <br>
          {{ tree.descripcion }}
        </small>
      </p>
      <a *ngIf="tree.url" [href]="tree.url" target="_blank" class="tree-info__link badge badge-pill badge-secondary mr-2">
        <fa-icon [icon]="icons.faLink"></fa-icon>
      </a>
      <a *ngIf="tree.facebook" [href]="tree.facebook" target="_blank" class="tree-info__link badge badge-pill badge-secondary mr-2">
        <fa-icon [icon]="icons.faFacebookF"></fa-icon>
      </a>
      <a *ngIf="tree.instagram" [href]="tree.instagram" target="_blank" class="tree-info__link badge badge-pill badge-secondary mr-2">
        <fa-icon [icon]="icons.faInstagram"></fa-icon>
      </a>
      <a *ngIf="tree.twitter" [href]="tree.twitter" target="_blank" class="tree-info__link badge badge-pill badge-secondary mr-2">
        <fa-icon [icon]="icons.faTwitter"></fa-icon>
      </a>
    </div>
  </div>
  <div class="card">
    <iframe [src]="tree.streetview" allowfullscreen="" width="100%" height="400" frameborder="0">
    </iframe>
  </div>
  <div class="autor card my-4">
    <div class="card-header">
      <h4>
        Este árbol
      </h4>
    </div>
    <div class="card-body">
      <p>
        El siguiente código sirve para identificar a este árbol:
        <kbd class="mr-1">{{ tree.id }}</kbd>
        <a [routerLink]="['/arbol', tree.id]" target="_blank">
          <fa-icon [icon]="icons.faExternalLinkAlt"></fa-icon>
        </a>
      </p>
      <p>
        Podés usarlo para reportar datos incorrectos enviando el código con
        los comentarios que quieras hacer por medio de
        <a class="text-primary" href="https://www.facebook.com/arboladomapa/" target="_blank">
          <fa-icon [icon]="icons.faFacebookSquare">/arboladomapa</fa-icon>
        </a>
        <br>
        ¡Gracias!
      </p>
    </div>
  </div>
</div>
