body {
  height: 100vh;
}

.main-title {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, .5);
  inset: 0;
  position: fixed;
  z-index: 1;
}

.overlay:not(.show) {
  display: none;
}

.collapsed .collapsed-hide {
  display: none;
}

.collapsed-show {
  display: none;
}

.collapsed .collapsed-show {
  display: inherit;
}

.floating-content {
  position: absolute;
  right: 10px;
  text-align: right;
  top: 10px;
  width: 300px;
  z-index: 1;
}

.address-search__input-wrapper {
  position: relative;
}

.address-search__input {
  padding-right: 40px;
}

.address-search__icon {
  align-items: center;
  bottom: 0;
  display: flex;
  position: absolute;
  right: 12px;
  top: 0;
}

.address-search__list {
  background-color: $white;
  max-width: 100%;
  width: 280px;
}

.address-search__item {
  border-bottom: 1px solid $color-turquoise;
}

.address-search__item__btn {
  color: $black;
}

.scroll-top-btn {
  bottom: 20px;
  position: absolute;
  right: 20px;
  z-index: 1;
}

nav.sticky-top {
  border-bottom: 1px solid $gray-200;
}

.main-title a.navbar-brand {
  color: $color-turquoise;

  &:hover {
    color: darken($color-turquoise, 10%);
  }

  img {
    margin-right: 4px;
  }
}

#colaboran a img {
  max-width: 8rem !important;
} 

.leaflet-container a.leaflet-popup-close-button {
  display: none;
}

#main-menu .nav-link {
  font-size: 14px;
}