body {
  height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, .5);
  inset: 0;
  position: fixed;
  z-index: 1;
}

.overlay:not(.show) {
  display: none;
}

.collapsed .collapsed-hide {
  display: none;
}

.collapsed-show {
  display: none;
}

.collapsed .collapsed-show {
  display: inherit;
}

.floating-content {
  position: absolute;
  right: 10px;
  text-align: right;
  top: 10px;
  z-index: 1;
}

.address-search__input-wrapper {
  position: relative;
}

.address-search__input {
  padding-right: 40px;
}

.address-search__icon {
  align-items: center;
  bottom: 0;
  display: flex;
  position: absolute;
  right: 12px;
  top: 0;
}

.address-search__list {
  background-color: $color-white;
  max-width: 100%;
  width: 280px;
}

.address-search__item {
  border-bottom: 1px solid $color-turquoise;
}

.address-search__item__btn {
  color: $color-black;
}

.scroll-top-btn {
  bottom: 20px;
  position: absolute;
  right: 20px;
  z-index: 1;
}