$loader-bg: rgba(255, 255, 255, .8);

.loader {
  align-items: center;
  background-color: $loader-bg;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  &.active {
    display: flex;
  }
}

.loader__spinner {
  height: 32px;
  width: 32px;
  color: $color-turquoise;

  @include media-breakpoint-down('sm') {
    height: 40px;
    width: 40px;
  }
}

.loader__text {
  color: $color-turquoise;
  font-size: rem(32px);
  font-weight: 300;

  @include media-breakpoint-down('sm') {
    font-size: rem(56px);
  }
}