$loader-bg: rgba(25, 25, 25, .4);

.loader {
  align-items: center;
  background-color: $loader-bg;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  &.active {
    display: flex;
  }
}

.loader__spinner {
  height: 60px;
  width: 60px;

  @include media-breakpoint-down('sm') {
    height: 40px;
    width: 40px;
  }
}

.loader__text {
  font-size: rem(96px);
  font-weight: 300;

  @include media-breakpoint-down('sm') {
    font-size: rem(56px);
  }
}