<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          No hay resultados para mostrar
        </h4>
        <button type="button" class="close pull-right" aria-label="Cerrar" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
       </div>
      <div class="modal-body">
        <p>
          Tu búsqueda no arrojó resultados.
        </p>
        <p>
          Probá buscando la especie que te interesa en toda la ciudad, o
          cambiando la zona de búsqueda marcando otro lugar en el mapa.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" aria-label="Cerrar" (click)="modal.hide()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
