<div class="container-fluid h-100">
  <div class="row h-100">

    <app-loader></app-loader>

    <app-tree #tree></app-tree>

    <aside class="col-12 col-md-4 col-lg-3 py-4">
      <div class="d-flex align-items-center mb-4 justify-content-center">
        <img class="img-fluid mr-4" src="assets/imgs/logo-blanco.png" alt="">
        <h1 class="main-title">
          Arbolado<br>
          Urbano
        </h1>
      </div>

      <app-form [species]="species" [latlng]="latlng" (treesLoaded)="updateTrees($event)" (allMapSelected)="removeMarker()">
      </app-form>

      <div class="row mt-4">
        <div class="col-12 col-sm-3 col-md-6">
          <a class="btn btn-light btn-small btn-block" href="https://www.facebook.com/arboladomapa" target="_blank">
            <fa-icon [icon]="icons.faFacebook"></fa-icon>
            Seguinos
          </a>
        </div>
        <div class="col-12 col-sm-3 col-md-6">
          <button class="btn btn-light btn-small btn-block" (click)="displayAboutModal()">
            Sobre el mapa
          </button>
        </div>
      </div>

      <ng-adsense [adClient]="adClient" [adSlot]="adSlot" [display]="'block'">
      </ng-adsense>

      <div class="row text-center mt-4">
        <p class="col-12 col-sm-3 col-md-12 text-muted">
          Este mapa cuenta con<br>
          la valiosa colaboración de:
        </p>
        <a class="col-6 col-sm-3 col-md-6 col-lg-4" href="https://www.facebook.com/LaCiudadNosRegalaSabores" target="_blank">
          <img class="img-fluid" src="assets/imgs/colaborador-lcnrs.png" alt="La ciudad nos regala sabores">
        </a>
        <a class="col-6 col-sm-3 col-md-6 col-lg-4" href="https://www.facebook.com/elrenacerdelalaguna/" target="_blank">
          <img class="img-fluid" src="assets/imgs/colaborador-laguna-fvet.png" alt="El Renacer de la Laguna - FVET - UBA">
        </a>
        <a class="col-12 col-sm-3 col-md-12 col-lg-4" href="https://www.facebook.com/AsociacionRiberaNorte/" target="_blank">
          <img class="img-fluid" src="assets/imgs/colaborador-arn.png" alt="Asociación Ribera Norte">
        </a>
      </div>
    </aside>

    <main class="col-md-8 col-lg-9 p-0">
      <app-map #map (markerSet)="updateLatlng($event)" (treeSelected)="updateTree($event)">
      </app-map>
    </main>

  </div>
  <button type="button" class="btn btn-primary add-tree-btn" (click)="displayAddTreeModal()">
    <fa-icon [icon]="icons.faPlusSquare"></fa-icon>
    Agregar árbol
  </button>
</div>

<!-- Modals -->
<app-about #aboutModal></app-about>
<app-empty-trees #emptyTreesModal></app-empty-trees>
<app-add-tree #addTreeModal></app-add-tree>
